@model RedditClone.Models.Post

    @{
        ViewBag.Titlu = "Editare Postare";
    }

    <h2>@ViewBag.Titlu</h2>

    @using (Html.BeginForm(actionName: "Edit", controllerName: "Post"))
    {
        @Html.HttpMethodOverride(HttpVerbs.Put)

        @Html.HiddenFor(m => m.PostId)
        <br />
        @Html.Label("Title", "Titlu Postare")
        <br />
        @Html.Editor("Title")
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        <br />
        <br />

        @Html.Label("Content", "Content")
        <br />
        @Html.EditorFor(m => m.Content)
        @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
        <br />
        <br />

        @Html.Hidden("CreationTime", DateTime.Now, new { @class = "form-control" })
        <br />


        <button class="btn btn-sm btn-success" type="submit">Modifica comunitate</button>
    }

