@model.RedditClone.Models.Community

@{
    ViewBag.Titlu = "Editare Comunitate";
}

<h2>@ViewBag.Titlu</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Community"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.Id)
    <br />
    @Html.Label("Title", "Titlu Articol")
    <br />
    @Html.Editor("Name")
    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Content", "Continut Articol")
    <br />
    @Html.EditorFor(m => m.Content)
    @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Hidden("CreationTime", DateTime.Now, new { @class = "form-control" })
    <br />

    <label>Selectati categoria</label>
    @Html.DropDownListFor(m => m.CategoryId,
        new SelectList(Model.Categories, "Value", "Text"),
        "Selectati categoria", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
    <br />

    <button class="btn btn-sm btn-success" type="submit">Modifica articol</button>
}

